<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Examen Complexivo</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/sesion']">
        <ion-icon color="primary" slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bienvenido-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/pa6.jpg">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/pa1.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/pa2.jpg">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/pa3.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Bienvenido</h1>
        <p>Este es un ejemplo de una pantalla de bienvenida con imágenes en Ionic.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Trabajo Realizado por:</h1>
        <p>Wilmer John Durazno Zapatanga</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Carrera</h1>
        <p>Computacion</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>