.custom-title {
    font-size: 10px; // Ajusta el tamaño de la fuente según sea necesario
    color: #4caf50; // Utiliza el color que prefieras
  }
  
  .titulo{
    font-size: 12px; // Ajusta el tamaño de la fuente según sea necesario
    color:red; // Utiliza el color que prefieras
  }
  .titulo1{
    font-size: 11px; // Ajusta el tamaño de la fuente según sea necesario
    
  }
  
  